.requirement div {
    flex-direction: row!important;
}

.requirement div label {
    padding: 0 !important;
    padding-top: 6px !important;
}

.requirementContain div {
    margin-bottom: 0px !important;
}

.requirementContain div div:last-child {
    height: 25px;
}

.infor-detail-report {
    height: 100%;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #FAFAFA!important;
    color: #838181 !important;
}

.ant-input[disabled] {
    background-color: #FAFAFA!important;
    color: #838181 !important;
}

.ant-picker.ant-picker-disabled {
    background-color: #FAFAFA!important;
    color: #838181 !important;
}

.ant-picker-input>input[disabled] {
    color: #838181 !important;
}

.ant-radio-disabled+span {
    color: #838181 !important;
}

.ant-upload.ant-upload-select-picture-card {
    background-color: #ffffff;
    border-color: #B9B9B9;
    color: #838181 !important;
}

.ant-upload.ant-upload-disabled {
    background-color: #FAFAFA;
    color: #838181 !important;
}

@media (max-width: 575px) {
    .status-require {
        text-align: left!important;
    }
}